.custom-card {
  margin-bottom: 30px;
}
.custom-image {
  height: 250px !important;
}

.user-image {
  width: 50px !important;
  height: 50px;
  border-radius: 50% !important;
}

.user-data > span {
  margin-left: 40px;
}
